@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 0 0% 70%;
    --chart-2: 0 0% 60%;
    --chart-3: 0 0% 50%;
    --chart-4: 0 0% 40%;
    --chart-5: 0 0% 30%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 220 13% 91%;
    --card: 222 39% 16%;
    --card-foreground: 220 13% 91%;
    --popover: 222 39% 16%;
    --popover-foreground: 220 13% 91%;
    --primary: 224 76% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 222 39% 20%;
    --secondary-foreground: 220 13% 91%;
    --muted: 222 39% 20%;
    --muted-foreground: 215 9% 65%;
    --accent: 201 94% 60%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 39% 25%;
    --input: 222 39% 16%;
    --ring: 224 76% 58%;
    --chart-1: 201 94% 60%;
    --chart-2: 224 76% 58%;
    --chart-3: 215 9% 65%;
    --chart-4: 220 13% 91%;
    --chart-5: 222 39% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .dark .font-headline {
    @apply text-white;
  }
}
