@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 215 28% 26%;
    --heading-foreground: 215 41% 15%;
    --card: 0 0% 100%;
    --card-foreground: 215 28% 26%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 26%;
    --primary: 224 82% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 25% 95%;
    --secondary-foreground: 215 41% 15%;
    --muted: 215 25% 95%;
    --muted-foreground: 215 16% 52%;
    --accent: 223 100% 98%;
    --accent-foreground: 224 82% 57%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 82% 57%;
    --chart-1: 224 82% 57%;
    --chart-2: 215 16% 52%;
    --chart-3: 215 25% 95%;
    --chart-4: 215 28% 26%;
    --chart-5: 215 41% 15%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .font-headline {
    color: hsl(var(--heading-foreground));
  }
}
